* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 10px;
}
.calculator{
    margin-left: 20vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.container : hover{
    cursor: pointer;
}
#ANS{
    color: black;
    background-color: red;
}
#inputID{
    height: 60px;
    width: 796px;
    font-size: 40px;
    outline: none;
    background-color: black;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    text-align: center;
}

.item {
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 30px;
    height: 60px;
    border: 1px solid white;
    background-color: black;
    color: white;
}