* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 20vh auto;
    border: 1px solid #ccc;
    width: 30vw;
    height: 65vh;
    text-align: center;
}

#inp,
#btn {
    margin-top: 5vh;
    outline: none;
    padding: 1vh;
    width: 25vw;
    font-size: 3vh;
    border-radius: 1vw;
}

#btn {
    width: 20vw;
    cursor: pointer;
    color: black;
    background-color: white;
}

#weather_info {
    margin: 5vh auto;
    border: 1px solid #ccc;
    width: 20vw;
    height: 30vh;
}

span{
    display: block;
    
}